.btn{
    background-color: black;
    border-color: darkgray;
}
.btn:hover{
    background-color: aliceblue;
    color: black;
    border-color: black;
}
.card:hover{
    box-shadow: -1px -6px 32px 0px rgba(178, 11, 11, 0.76);
-webkit-box-shadow: -1px -6px 32px 0px rgba(101, 68, 68, 0.76);
-moz-box-shadow: -1px -6px 32px 0px rgba(210, 176, 176, 0.76);
}
/* .btn {
    background-color: black;
    border-color: darkgray;
} */